.about {
  font-size: 1.2em;
}

.about button {
  margin-top: 2em;
  color: white;
}

.about p {
  color: black;
  margin: 0;
  padding: 1em 1.5em;
  text-align: center;
}

.about a {
  color: white;
}
