.audio-button {
  padding: 15px;
  border-radius: 10px;
  margin: 3vmin;
  font-size: 6vmax;
  width: 12vmax;
  height: 12vmax;
  position: relative;
}

@media (min-width: 1000px) {
  .audio-button {
    width: 150px;
    height: 150px;
    font-size: 70px;
  }
}

.button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-pause-icon-overlay {
  color: white;
  opacity: 0;
}

.audio-button:hover .play-pause-icon-overlay,
.is-currently-playing {
  opacity: 0.6;
}
