.audio-button {
  font-size: 3em;
  border-radius: 0.5em;
  margin: 0.25em;
  width: 2.25em;
  height: 2.25em;
  position: relative;
}

.audio-button svg {
  width: 3rem;
  height: 3rem;
}

.button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-pause-icon-overlay {
  color: white;
  opacity: 0;
}

.audio-button:hover .play-pause-icon-overlay,
.is-currently-playing {
  opacity: 0.6;
}
