@import url('https://fonts.googleapis.com/css?family=Gravitas+One');

:root {
  --blauw: #245c8f;
  --zwart: black;
}

html {
  box-sizing: border-box;
  font-family: 'Gravitas One', verdana, sans-serif;
  font-size: calc(0.4em + 1vmax);
}

*,
*:before,
*:after {
  -webkit-user-select: none; /* disable text selection for all elements on Safari */
}

body {
  color: var(--zwart);
  background: var(--blauw);
}
