.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.title {
  text-align: center;
  text-shadow: 0 0 5px #245c8f, 0 0 10px #245c8f, 0 0 15px #245c8f;
  font-size: 3em;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40em;
}

.bottom-bar-placeholder {
  height: 7em;
}
