.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.title {
  margin: 20px;
  text-align: center;
  text-shadow: 0 0 5px var(--blauw), 0 0 10px var(--blauw),
    0 0 15px var(--blauw);
}

.grid {
  display: grid;
  grid-template-columns: 15vh 15vh 15vh;
  grid-gap: 3vh;
}

@media (min-width: 400px) {
  .grid {
    grid-template-columns: 15vh 15vh 15vh 15vh;
    grid-gap: 6vh;
  }
}

.audio-container {
  margin: 20px 0;
}
