.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.title {
  text-align: center;
  text-shadow: 0 0 5px var(--blauw), 0 0 10px var(--blauw),
    0 0 15px var(--blauw);
  font-size: 6vmax;
}

@media (min-width: 1000px) {
  .title {
    font-size: 60px;
  }
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.bottom-bar-placeholder {
  height: 100px;
}
