.bottom-bar-button {
  height: 70px;
  background: none;
  color: black;
  outline: inherit;
  flex: 1 1 auto;
  min-width: 60px;
  max-width: 144px;
  border: none;
  box-shadow: none;
}

.bottom-bar-button svg {
  font-size: 32px;
}
